$theme-color: #111032;
$black: #001122;
$white: #fffdfd;

html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: $black;
  color: $white;
}

.population-scatter-plot {
  border: 2px solid white;
  width: 80%;
  height: 80%;
}

.tick line {
  // stroke: white;
  // stroke-width: 2;
}
.tick text {
  fill: white;
}
.tick:first-of-type line {
  stroke-width: 8;
  stroke-linecap: round;
  stroke: #04d99d;
}

.country-dots {
  fill: rgba(4, 217, 157, 0.4);
  stroke: white;
  stroke-width: 2;
}
